<ion-header>
    <app-top-toolbar pageTitle="Dictionary"></app-top-toolbar>
</ion-header>

<ion-content>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    DRY (Don’t Repeat Yourself) principle
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <strong>Practical part</strong>
                <ul>
                    <li>if code repeats in two methods in same class, place repeated code inside protected or private method and use that method by other two</li>
                    <li>if your code is same between classes, create parent class from duplicated code</li>
                    <li>if parent class is not suitable, because child classes are not related create trait</li>
                    <li>if code is much larger than one class, create service</li>
                    <li>then module, microservice, domain ... just don't repeat if possible</li>
                </ul>
                <strong>Theory behind</strong>
                <p>Very practical principle and is perfect for lazy people. Are you lazy? I am. I don’t like typing too much of code, if it can be generated or used from other location in system. DRY save yours (and also someone else) time, makes your code better, more readable and also more isolated and reusable. I can cite wikipedia here: Every piece of knowledge must have a single, unambiguous, authoritative representation within a system., but this is too short for me to get a picture.</p>
                <p>DRY in short is to keep in mind, if you are doing something like “copy – paste” of code or recreating same functionality in your code, to stop and ask yourself what is wrong. Is it really necessary? Can I just ask some service to do a work or use some class or trait which already do the thing what I want?</p>
                <p>100% DRY is almost unachievable in real world. But WET (we enjoy typing) can slow you down or even stop in what you are trying to achieve, by making your code very unreadable and hard to maintain.</p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    KISS (Keep It Simple, Stupid) principle
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <strong>Practical part</strong>
                <ul>
                    <li>method should have clear name describing purpose</li>
                    <li>class should only do one thing</li>
                    <li>lists, like countires, languages, currencies, payment methods, should be always stored in config or database, never item per class</li>
                </ul>
                <strong>Theory behind</strong>
                <p><em>"Il semble que la perfection soit atteinte non quand il n’y a plus rien à ajouter, mais quand il n’y a plus rien à retrancher.
                    (It seems that perfection is finally attained not when there is nothing more to add, but when there is nothing more to take away.)</em></p>
                <p text-right>– Antoine de Saint Exupéry</p>
                <p>One of the few basic principles, which every programmer should know. Keep your code as simple as it can be. Which will result in be more readable, optimized and reusable code. For example no method in any class should be larger than 40 lines of code. I’ve worked with method with 6 levels of nesting if-else statements, which was insanely hard to read and understand (5000 lines of code with no documentation). Finally this method was divided into 3 classes with about 15-20 methods in each by applying of few principles including this one.</p>
                <p>In relational database design this principle is used for dividing structure to most basics functional units. For example using “first name” and “last name” columns, not one “name” column. Using standalone table for “cities” in relation with “address” table, not just one “city” column in “address” table.</p>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <ion-card-title>
                    YAGNI (You Aren’t Gonna Need It) principle
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <strong>Practical part</strong>
                <ul>
                    <li>use decided architecture</li>
                    <li>prioritise work through tickets</li>
                    <li>don't go over minimal ticket scope</li>
                </ul>
                <strong>Theory behind</strong>
                <p>Many developers like to think wide to cover all possible options. That's good during architecture phase of project, not during programing. Don't forget, you aren't gonna need it.</p>
                <p>Do you know that feeling to add some more functionality to what you currently programming? It is better to solve it somehow differently then by immediate coding. It will also save your time. And it’s worthless to program something which must be redone or will not be used at all. Client may not be keen to some fancy functionality, primarily if that will mean delays to project.</p>
                <p>You can just forget what you want add to program. But for me it is sometimes hard to let go and keep things in mind forever is also not a solution. This principle is better applicable when you have roadmap to follow. In some companies you can discuss your ideas with responsible people (architect, team leader, manager, client) and/or put them into some mind-map or todo software for later use. Please don’t “todo” code directly! Beware of “todo” ocean, in which even you won’t recognize your own “todos” in time. "Todos" in code are distracting and will imply that you haven't finished your work for anyone reading code after you. On any project look at the roadmap and time this new functionality will consume from it. Maybe you can find time after you finish main work. If you have time for every special functionality, congrats, you must be luckiest developer on Earth.</p>
            </ion-card-content>
        </ion-card>
</ion-content>
