<ion-header>
  <app-top-toolbar pageTitle="Minitaurus (part 3)"></app-top-toolbar>
</ion-header>

<ion-content padding>
    <h1>Minitaurus – creating PHP mini framework<br/><span>(part 3) (rev. 2016)</span></h1>
    <div style="display: flex;justify-content: space-between;">
        <ion-button size="small" color="light" href="/minitaurus-part2">&laquo; Part 2</ion-button>
        <ion-button size="small" color="light" href="/minitaurus-part4">Part 4 &raquo;</ion-button>
    </div>
    <h3>Creating router</h3>
    <p>In this part of tutorial we will create router for our FW. But first create needed config class. In folder AntarianMinitaurus/Router create file RouterConfig.php. File will have this content.</p>
    <pre><code>&lt;?php
namespace AntarianMinitaurus\Router;

class RouterConfig
{{'{'}}
    const MODRW_ENBL = 'enabled';
    const MODRW_DIS = 'disabled';

    /**
     * safer call of methods and functions
     *
     * @param $callback
     * @param array $params
     * @return mixed
     */
    public static function safeCallUserFuncArray($callback, $params = array())
    {{'{'}}
        if (empty($params))
            $params = array();

        // check if callback is valid
        if (!is_callable($callback))
            throw new \InvalidArgumentException("Callback param is invalid");

        // check required parameters
        if (is_array($callback))
            $r = new \ReflectionMethod($callback[0], $callback[1]);
        else
            $r = new \ReflectionFunction($callback);

        if ($r->getNumberOfRequiredParameters() > count($params))
            throw new \InvalidArgumentException("Missing required parameter(s)");

        return call_user_func_array($callback, $params);
    }
}</code></pre>
    <p>This method is used to call methods throughout the FW. It checks if callback is valid and if number of required parameters match.</p>
    <p>We also create RegexRouter class. This is simple, but powerful router. We check URI string with regex expressions and if match is found, we get the response from specific classes and methods. In folder AntarianMinitaurus/Router create file RegexRouter.php</p>
    <pre><code>&lt;?php
namespace AntarianMinitaurus\Router;

class RegexRouter
{{'{'}}</code></pre>
    <p>We create route() method, which fill routes property array with pattern and assigned callback.</p>
    <pre><code>    private $routes = array();

    /**
     * create routes, array of pattern -> callback pairs for routing
     *
     * @param $pattern
     * @param $callback
     */
    public function route($pattern, $callback)
    {{'{'}}
        $this->routes[$pattern] = $callback;
    }</code></pre>
    <p>Now we will add <code>execute()</code> method. This will execute assigned callback when URI and route pattern match.</p>
    <pre><code>    /**
     * executes first matched route in array
     *
     * @param $uri
     * @return mixed
     */
    public function execute($uri)
    {{'{'}}
        foreach ($this->routes as $pattern => $callback) {{'{'}}
            // get route pattern, check it with uri
            if (preg_match($pattern, $uri, $params) === 1) {{'{'}}
                // call callback defined in route with selected parameters
                array_shift($params);
                return RouterConfig::safeCallUserFuncArray($callback, array_values($params));
            }
        }
    }</code></pre>
    <p>As this is the last method in this class, we can close the class.</p>
    <pre><code>}</code></pre>
    <p>Now we get back to <code>index.php</code> and put at the end of the file some routing configuration</p>
    <p>First we initialize router</p>
    <pre><code>    // create regex router
    $router = new RegexRouter();</code></pre>
    <p>Then we add some route definitions. These routes will be execute when match is found and are applicable if mod_rewrite is active. That mean nice URLs.</p>
    <pre><code>    // define some routes - order is important (FIFO method)

    // routes with mod_rewrite enabled

    // for every route of type /module/controller/action/ and everything after is /param_name/param_value/param...
    $router->route('/^\/(\w+)\/(\w+)\/(\w+)\/?(.*)\/?$/', function ($module, $controller, $action, $params) {{'{'}}
        RouteManager::mvcProcess($module, $controller, $action, $params);
    });
    // route for homepage
    $router->route('/^\/$/', function () {{'{'}}
        RouteManager::mvcProcess("main", "main", "homepage", null);
    });</code></pre>
    <p>Here are other route definitions. If mod_rewrite is not active, then these URLs work similar to definitions before.</p>
    <pre><code>    // routes with mod_rewrite disabled

    // for every route of type ?module=&controller=&action= and everything after is &param_name=...
    $router->route('/^\/?index\.php(\?module\=[^&]+)(\&controller\=[^&]+)(\&action\=[^&]+)(([\&]{{'{'}}1}[^=]+\=[^&]+)*)$/', function ($module, $controller, $action, $params) {{'{'}}
        RouteManager::mvcProcessOld($module, $controller, $action, $params);
    });
    // route for homepage
    $router->route('/^(\/?index\.php)*$/', function () {{'{'}}
        RouteManager::mvcProcessOld("main", "main", "homepage", null);
    });

    // for every other route return 404
    $router->route('/(.*)/', function() {{'{'}}
        RouteManager::errorPage($_SERVER['REQUEST_URI'], 404, 'Page not found.');
    });</code></pre>
    <p>After route definitions we execute browser URI request to server.</p>
    <pre><code>    // execute router with uri as parameter
    $router->execute($_SERVER['REQUEST_URI']);</code></pre>
    <p>To make this work without error, we add 3 other use statements to the top of the <code>index.php</code></p>
    <pre><code>use AntarianMinitaurus\Router\RouterConfig;
use AntarianMinitaurus\Router\RegexRouter;
use AntarianMinitaurus\Router\RouteManager;</code></pre>
    <p>To finish router, we need <code>RouteManager</code> class. We create this class in the next part of tutorial.</p>
    <div style="display: flex;justify-content: space-between;">
        <ion-button size="small" color="light" href="/minitaurus-part2">&laquo; Part 2</ion-button>
        <ion-button size="small" color="light" href="/minitaurus-part4">Part 4 &raquo;</ion-button>
    </div>
</ion-content>
