<ion-header>
  <app-top-toolbar pageTitle="Minitaurus (part 2)"></app-top-toolbar>
</ion-header>

<ion-content padding>
    <h1>Minitaurus – creating PHP mini framework<br/><span>(part 2)</span></h1>
    <blockquote>
        <p>This page is being revised, please do not follow this tutorial now. If you need, old framework code is in GitHub <a href="https://github.com/Antarian/Minitaurus">Minitaurus</a>.</p>
    </blockquote>
    <div style="display: flex;justify-content: space-between;">
        <ion-button size="small" color="light" routerLink="/minitaurus">&laquo; Part 1</ion-button>
        <ion-button size="small" color="light" routerLink="/minitaurus-part3">Part 3 &raquo;</ion-button>
    </div>
    <h3>Adding debug</h3>

    <p>As last for this part of tutorial we add to the index.php two other constants.</p>
    <pre><code>// define application environment type constant value from environment variable or set "production" otherwise
defined('APP_ENV') || define('APP_ENV', (getenv('APP_ENV') ? getenv('APP_ENV') : 'production'));

// define if application will use nice urls
$nice_urls = (getenv('APP_NICE_URLS') ? getenv('APP_NICE_URLS') : false);
defined('APP_NICE_URLS') || define('APP_NICE_URLS', $nice_urls);</code></pre>
    <p>Here we set environment and nice urls for router. We will create DebugConfig and RouterConfig in next parts of this tutorial.</p>

    <p>As I mentioned in first part of this tutorial, we will now create <code>DebugConfig</code> class. In base folder of project create folder structure <code>AntarianMinitaurus\Debug</code>. Within <code>Debug</code> folder create file <code>DebugConfig.php</code> and place this content into it.</p>
            <pre><code>&lt;?php
/* \AntarianMinitaurus\Debug\DebugConfig.php */
namespace AntarianMinitaurus\Debug;

/**
 * basic debug configuration class
 */
class DebugConfig
{{"{"}}
    const DEV_ENV = 'development';
    const PROD_ENV = 'production';

    public static function load()
    {{"{"}}
        // in development enable error report for better error detection
        if (APPLICATION_ENV == self::DEV_ENV) {{"{"}}
            ini_set('display_errors', 1);
            ini_set('display_startup_errors', 1);
            error_reporting(-1);
        }

        // setup exception error handler to change errors to exceptions
        set_error_handler(array('\AntarianMinitaurus\Debug\Debug', 'exceptionErrorHandler'));

        // exception handler to uncaught exceptions
        set_exception_handler(array('\AntarianMinitaurus\Debug\Debug', 'exceptionHandler'));
    }
}</code></pre>
            <p>This class has namespace definition which is one to one to folder structure. And name of class is same as filename without .php part. Also there are two constants, which we will use through the FW. There is load() method, which will change error level detection settings based on environment type. This method also setup callbacks for converting errors to exceptions and for handling uncaught exceptions.</p>
            <p>To reach this class, we use autoload function in index.php.</p>
            <p>Now we open the index.php file and add use namespace statement to the top of the file, just after the &lt;?php.</p>
            <pre><code>use AntarianMinitaurus\Debug\DebugConfig;</code></pre>
            <p>Next we create <code>Debug.php</code> file in <code>AntarianMinitaurus/Debug</code> folder. Place this code to the start of the file.</p>
            <pre><code>&lt;?php
/* \AntarianMinitaurus\Debug\Debug.php */
namespace AntarianMinitaurus\Debug;

class Debug
{{'{'}}</code></pre>
            <p>First in this file, we create method exceptionErrorHandler() which will change PHP error messages into exceptions.</p>
            <pre><code>    /**
     * method to change error to exception, for better use in try/catch
     *
     * @param $severity
     * @param $message
     * @param $file
     * @param $line
     * @throws \ErrorException
     */
    public static function exceptionErrorHandler($severity, $message, $file, $line)
    {{'{'}}
        if (!(error_reporting() & $severity)) {{'{'}}
            // This error code is not included in error_reporting
            return;
        }
        throw new \ErrorException($message, 0, $severity, $file, $line);
    }</code></pre>
            <p>Second we create method to handle uncaught exceptions.</p>
            <pre><code>    /**
     * handler for uncaught exceptions
     *
     * @param $exception \Exception
     */
    public static function exceptionHandler(\Exception $exception)
    {{'{'}}
        // if dev environment display error on screen
        if (APPLICATION_ENV == DebugConfig::DEV_ENV)
            print(Debug::generateCallTrace($exception));
    }</code></pre>
            <p>This method calling <code>generateCallTrace()</code> method, in which we show details of exception.</p>
            <pre><code>    /**
     * adding more description to exceptions
     *
     * @param \Exception $e
     * @return string
     */
    public static function generateCallTrace(\Exception $e)
    {{'{'}}
        $result[] =
            "Msg: " . $e->getMessage() . PHP_EOL .
            "File: " . $e->getFile() . " (" . $e->getLine() . ")" . PHP_EOL .
            "Backtrace: ";

        $result[] = print_r($e->getTraceAsString(), true);

        $result = implode(PHP_EOL, $result);

        // not development, then output goes to log file
        if (APPLICATION_ENV != DebugConfig::DEV_ENV)
            return $result;

        // html output to screen
        return nl2br($result);
    }</code></pre>
            <p>As this is last method in our Debug class, we should close class with</p>
            <pre><code>}</code></pre>
            <p>As we now have classes for handling errors, we can change a little our <code>spl_autoload_register</code> function in <code>index.php</code>. We add print debug into catch part.</p>
            <pre><code>// autoload classes through autoload function
    spl_autoload_register( function($class) {{'{'}}
        ...
    } catch(\Exception $e) {{'{'}}
        // if dev environment display error on screen
        if (APPLICATION_ENV == DebugConfig::DEV_ENV)
            print(Debug::generateCallTrace($e));
        }
    });</code></pre>
            <p>and add use statement to the top of the file</p>
            <pre><code>use AntarianMinitaurus\Debug\Debug;</code></pre>
            <p>In next part of our tutorial we will create router classes for our mini framework.</p>
    <div style="display: flex;justify-content: space-between;">
        <ion-button size="small" color="light" routerLink="/minitaurus">&laquo; Part 1</ion-button>
        <ion-button size="small" color="light" routerLink="/minitaurus-part3">Part 3 &raquo;</ion-button>
    </div>
</ion-content>
