<ion-header>
    <app-top-toolbar logo="true" pageTitle="Peter Labos"></app-top-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-md="9" sizeXs="12">
                <ion-card class="welcome-card">
                    <img src="/assets/london.jpg" alt=""/>
                    <ion-card-header>
                        <ion-card-subtitle>Introduction to</ion-card-subtitle>
                        <ion-card-title>Small part of my world</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p>Few examples of my work and some basic theory in my own words. If you want to see them, just browse in the menu or visit <em>About me</em> links.</p>
                        <p>From technical point of view, this page alone is based on Ionic 4 with Angular 8 and running on AWS (Amazon Web Services).</p>
                        <p>More precisely it is deployed from GitHub <a href="https://github.com/Antarian/Resume">Antarian/Resume</a> codebase through CodeDeploy pipelines to S3 bucket covered with CloudFront with domain setup in Route53.<!--<br />
                           You can discover more about this setup in <a routerLink="/ionic-aws-deployment">Ionic 4 deployment to AWS</a> article.-->
                        </p>
                        <p *ngIf="showBtn">This website is built as PWA. If you want, you can install this website on your home screen.</p>
                        <ion-button expand="full" (click)="add_to_home()" *ngIf="showBtn">Install PWA</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size-md="3" size-xs="12">
                <ion-list lines="none">
                    <ion-list-header>
                        <ion-label>About me</ion-label>
                    </ion-list-header>

                    <ion-item href="https://github.com/Antarian">
                        <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
                        <ion-label>GitHub</ion-label>
                    </ion-item>

                    <ion-item href="https://www.linkedin.com/in/peter-labo%C5%A1/">
                        <ion-icon slot="start" color="medium" name="logo-linkedin"></ion-icon>
                        <ion-label>LinkedIn</ion-label>
                    </ion-item>

                    <ion-item href="https://stackoverflow.com/users/4494077/peter-labo%c5%a1">
                        <ion-icon slot="start" color="medium" src="/assets/icon/stackoverflow.svg"></ion-icon>
                        <ion-label>StackOverflow</ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
