.center-grid {
  max-width: 940px;
  align-content: center;
}

ion-row>h3 {
  margin: 1em 1em 0.2em;
}

ion-row>p {
  margin: 0 2em 0.5em;
}

.one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.heading {
  position: relative;
}

.heading img {
  z-index: 0;
  width: 100%;
  max-height: 308px;
  margin-bottom: 1em;
}

.heading h1 {
  z-index: 1;
  position: absolute;
  top: 40%;
  text-align: center;
  color: white;
  width: 100%;
}
